---
import Layout from "../layouts/Layout.astro";

const identity = {
  firstName: "SoeMin",
  country: "Singapore",
  occupation: "Software Engineer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<Layout>
  <div>
    <h1 class="text-4xl font-bold pt-8 mb-4">About Me</h1>

    <p>This will be about me!</p>
    <p>Hello, I am Soe Min Thant, from <a href="https://en.wikipedia.org/wiki/Myanmar" class="underline">Myanmar</a></p>

    <!-- <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul> -->

    <h2 class="text-3xl font-bold mt-10 pb-2 border-b border-gray-200 dark:border-gray-600">
      My Setup
    </h2>
    <h2 class="text-3xl font-bold mt-10 pb-2 border-b border-gray-200 dark:border-gray-600">
      Files
    </h2>
    <h2 class="text-3xl font-bold mt-10 pb-2 border-b border-gray-200 dark:border-gray-600">
      Games
    </h2>
  </div>
</Layout>
