---
/* component imports */
component:true

import Layout from "../layouts/Layout.astro";
import AlbumList from "../components/Song/AlbumList";
import AboutSection from "../components/Elements/Section/AboutSection.astro";

const links = [
  {
    category: "Work",
    links: [
      { name: "GitHub", url: "https://github.com/somin0016" },
      { name: "LinkedIn", url: "https://www.linkedin.com/in/soeminthant" },
    ],
  },
  {
    category: "Contact",
    links: [
      { name: "tsoominn@gmail.com", url: "mailto:tsoominn@gmail.com" },
      { name: "WhatsApp", url: "https://wa.me/6584511155" },
      { name: "Discord", url: "https://discord.com/users/395270263056629761" },
    ],
  },
  {
    category: "Socials",
    links: [{ name: "Instagram", url: "https://www.instagram.com/soeemt/" }],
  },
  {
    category: "Blog",
    links: [{ name: "blog by soemin", url: "https://www.blog.smthant.com" }],
  },
];

const games = [
  {
    name: "Final Fantasy XIV",
    description: "Fav MMORPG! Been playing since 2017.",
    images: ["ffxiv_01.jpg", "ffxiv_02.jpg", "ffxiv_03.jpg", "ffxiv_04.jpg"],
    link: "https://eu.finalfantasyxiv.com/lodestone/character/21360010/",
  },
];
---

<Layout>
  <div>
    <h1 class="text-4xl font-bold pt-8 mb-8">About Me</h1>
    <div class="prose dark:prose-invert">
      <p>
        <a
          href="https://finalfantasy.fandom.com/wiki/Lali-ho"
          target="_blank"
          class="hover:italic hover:text-purple-400">Lali-ho!</a
        >
      </p>
      <p>
        I'm Soe Min Thant, a Software Engineer originally from <a
          href="https://en.wikipedia.org/wiki/Myanmar"
          class="hover:text-purple-400">Myanmar</a
        >. I was born in 2000 and started learning to code in 2017. My journey
        into the tech world led me to my first job as a Junior Web Developer in
        2021. Now, I'm gaining experience as a Software Engineering Intern in
        Singapore.
      </p>

      <p>
        Welcome to version 2.0 of my portfolio site! While the look hasn't
        changed much, I've added extra pages and tried out new tools for
        building it. Instead of just a portfolio, I wanted this site to feel
        more like a personal space where I can share things I enjoy, show off my
        work, and more.
      </p>

      <p>
        Here, you'll find what I love, my favorite games, links to my social
        profiles, and if you're a recruiter, my <a
          href="/SoeMinThant.pdf"
          download
          class="hover:text-purple-400">resume</a
        >.
      </p>

      <p>Hope you like it here! o/</p>
    </div>

    <!-- Links -->
    <AboutSection title="Links">
      <div class="pt-4">
        <ul class="space-y-4 list-inside">
          {
            links.map(({ category, links }) => (
              <li>
                <h3 class="text-xl font-medium">{category}</h3>
                <ol class="ps-5 my-1 space-y-1 list-disc list-inside">
                  {links.map(({ name, url }) => (
                    <li>
                      <a
                        href={url}
                        target="_blank"
                        class="underline text-smBlue hover:text-smBlue-strong"
                      >
                        {name}
                      </a>
                    </li>
                  ))}
                </ol>
              </li>
            ))
          }
        </ul>
      </div>
    </AboutSection>

    <!-- Games -->
    <AboutSection title="Games I Play">
      <div class="pt-4">
        <div class="grid sm:grid-cols-2 gap-4">
          {
            games.map((game, index) => (
              <div class="col-span-1 overflow-hidden">
                <a
                  href={game.link}
                  target="_blank"
                  class="block w-full rounded-lg hover:underline"
                >
                  {game.images.length >= 2 ? (
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        {game.images.map((image, index) => (
                          <div class="swiper-slide">
                            <img
                              src={`/images/games/${image}`}
                              alt={game.name}
                              class="rounded-md"
                            />
                          </div>
                        ))}
                      </div>
                    </div>
                  ) : (
                    <img
                      src={`/images/games/${game.images[0]}`}
                      alt={game.name}
                      class="rounded-md"
                    />
                  )}
                  <div class="py-2">
                    <h3 class="text-lg font-semibold">{game.name}</h3>
                    <span class="text-sm inline-block">{game.description}</span>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </AboutSection>

    <!-- Songs -->
    <AboutSection title="Music I'm Listening">
      <div class="pt-4">
        <AlbumList client:load />
      </div>
    </AboutSection>
  </div>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper(".swiper", {
    autoplay: {
      delay: 5000,
    },
  });
</script>